/*valores por defecto*/
:root{
	--white:white;
	--black:#000000;
	--blue:#0965B7;
}
/*estilo de letra*/
body{
	font-size: 20px;
	font-family:'Nunito', sans-serif;
}


/*subrayado */
.s{
	background-color: var(--blue);
	color: var(--white);
	font-size: 20px;
	font-family: monospace;
	display: flex;
	float: left;
	padding: 5px 20px;
}

/*boton*/

.btn {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    padding: 9px 20px;
    font-size: 20px;
}

.h1{
    background-color: rgb(145, 145, 243);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.footer{
    height: 40px;
    background-color: rgb(79, 119, 248);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 18px;

}

.caja202{
    height: 40px;
    background-color: rgb(79, 119, 248);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 18px;

}